config FB_I143
	tristate "I143 Graphics Backend framebuffer support"
	depends on FB && SOC_I143 && VIDEO_I143_DISP
	default n
	help
	  This is the frame buffer device driver for the I143 Graphics
	  hardware.

config FB_I143_DEBUG
	bool "External Debug support"
	depends on FB_I143
	help
	  Say Y here, if you want to have debug support.
