CONFIG_SOC_I143=y
CONFIG_CMODEL_MEDLOW=y
CONFIG_HVC_RISCV_SBI=y
#CONFIG_SERIAL_8250=y
#CONFIG_SERIAL_8250_CONSOLE=y
#CONFIG_CMDLINE="earlycon=sp_uart,mmio32,0x9c000900 keep_bootcon"
CONFIG_SYSVIPC=y
CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y
# CONFIG_RD_GZIP is not set
# CONFIG_RD_BZIP2 is not set
# CONFIG_RD_LZMA is not set
# CONFIG_RD_XZ is not set
# CONFIG_RD_LZO is not set
# CONFIG_RD_LZ4 is not set
CONFIG_BLK_DEV_INITRD=y
CONFIG_INITRAMFS_SOURCE="../rootfs/initramfs/disk/ ../rootfs/initramfs/initramfs.devnodes"
CONFIG_INITRAMFS_COMPRESSION=""
CONFIG_EXPERT=y
CONFIG_BPF_SYSCALL=y
CONFIG_SMP=y
CONFIG_UEVENT_HELPER=y
CONFIG_TMPFS=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_SERIAL_OF_PLATFORM=y
# CONFIG_VIRTIO_MENU is not set
# CONFIG_USB_SUPPORT is not set
# CONFIG_BLOCK is not set
# CONFIG_HW_RANDOM is not set
# CONFIG_HWMON is not set
# CONFIG_MOUSE_PS2_ALPS is not set
# CONFIG_MOUSE_PS2_BYD is not set
# CONFIG_MOUSE_PS2_CYPRESS is not set
# CONFIG_MOUSE_PS2_FOCALTECH is not set
# CONFIG_VGA_CONSOLE is not set
#CONFIG_SERIAL_EARLYCON_RISCV_SBI=y
# CONFIG_FILE_LOCKING is not set
# CONFIG_DNOTIFY is not set
# CONFIG_INOTIFY_USER is not set
CONFIG_PRINTK_TIME=y
CONFIG_PINCTRL=y
CONFIG_PINCTRL_SPPCTL_I143=y
CONFIG_DEBUG_FS=y
CONFIG_NVMEM=y
