
#
# Sunplus Ethernet device configuration
#

config NET_VENDOR_SUNPLUS
	tristate "Sunplus Ethernet devices"
	depends on ETHERNET
	select PHYLIB
	select PINCTRL_SPPCTL
	select SUNPLUS_SP7021_RESET
	select NVMEM_SUNPLUS_OCOTP
	---help---
	  If you have a Sunplus network (Ethernet) device belonging to this class,
	  say Y.

	  Note that the answer to this question doesn't directly affect
	  the kernel: saying N will just cause the configurator to skip all
	  the questions about Sunplus device. If you say Y, you will be asked
	  for your specific device in the following questions.

config DYNAMIC_MODE_SWITCHING_BY_SYSFS
	bool "Support Dynamic Mode-switching by sysfs"
	depends on NET_VENDOR_SUNPLUS
	default y
	---help---
	  Supports dynamic mode-switching by sysfs.

