config FB_SP7021
	tristate "SP7021 Graphics Backend framebuffer support"
	depends on FB && ARCH_PENTAGRAM && VIDEO_SP_DISP
	help
	  This is the frame buffer device driver for the SP7021 Graphics
	  hardware.

config FB_SP7021_DEBUG
	bool "External Debug support"
	depends on FB_SP7021
	help
	  Say Y here, if you want to have debug support.
