config PINCTRL_SPPCTL
	bool "Sunplus SP7021 pinmux and gpio driver"
	depends on SOC_SP7021
	select PINMUX
	select GENERIC_PINCTRL_GROUPS
	select CONFIG_GENERIC_PINMUX_FUNCTIONS
	select PINCONF
	select GENERIC_PINCONF
	select OF_GPIO
	select GPIOLIB
	select GPIO_SYSFS
	select GENERIC_IRQ_CHIP
	select GPIOLIB_IRQCHIP
	help
	    Say Y here to support Sunplus SP7021 pinmux controller.
	    GPIO is provided by the same driver.

config PINCTRL_SPPCTL_I143
	bool "Sunplus I143 pinmux and gpio driver"
	depends on SOC_I143
	select PINMUX
	select GENERIC_PINCTRL_GROUPS
	select CONFIG_GENERIC_PINMUX_FUNCTIONS
	select PINCONF
	select GENERIC_PINCONF
	select OF_GPIO
	select GPIOLIB
	select GPIO_SYSFS
	select GENERIC_IRQ_CHIP
	select GPIOLIB_IRQCHIP
	help
	    Say Y here to support Sunplus I143 pinmux controller.
	    GPIO is provided by the same driver.

config PINCTRL_SPPCTL_DEBUG
	bool "Sunplus pinmux specific debug"
	depends on (SOC_SP7021 || SOC_I143) && DEBUG_PINCTRL
	help
	    Say Y if you need to debug Sunplus pinmux driver in-depth.
