#
# IOP subsystem configuration
#

menu "IOP support"

config SUNPLUS_IOP
	tristate "Sunplus IOP support"
	default y
	help
	Sunplus I/O processor (8051) driver which supports Q channel detection
source "drivers/misc/iop/qtest/Kconfig"
endmenu
