CONFIG_RISCV=y
CONFIG_TARGET_PENTAGRAM_I143_P=y
CONFIG_RISCV_SMODE=y
CONFIG_ARCH_RV64I=y
CONFIG_DISTRO_DEFAULTS=y
CONFIG_NR_DRAM_BANKS=1
CONFIG_FIT=y
CONFIG_CMODEL_MEDANY=y
# CONFIG_USE_BOOTARGS is not set
# CONFIG_USE_BOOTCOMMAND is not set
# CONFIG_USE_PREBOOT is not set
# CONFIG_BOARD_LATE_INIT is not set
CONFIG_DISPLAY_CPUINFO=y
CONFIG_DISPLAY_BOARDINFO=y
#CONFIG_USE_BOOTCOMMAND is not set
# CONFIG_MACB is not set
# CONFIG_CLK is not set
# CONFIG_SIFIVE_SERIAL is not set
# CONFIG_BITBANGMII is not set
# CONFIG_TIMER is not set
CONFIG_SUNPLUS_SERIAL=y
CONFIG_DEFAULT_DEVICE_TREE="sunplus_i143"
CONFIG_SYS_TEXT_BASE=0xA0100000
CONFIG_OTP_SUNPLUS=y
CONFIG_SP_TIMER=y
CONFIG_SMP=y
CONFIG_OF_SEPARATE=y
CONFIG_SYS_ZEBU_ENV=y
CONFIG_BOOTDELAY=0
CONFIG_CMD_UNZIP=y
# CONFIG_DM_GPIO is not set
# CONFIG_DM_VIDEO is not set
