CONFIG_ARM=y
CONFIG_ARCH_PENTAGRAM=y
CONFIG_TARGET_PENTAGRAM_I143_C=y
CONFIG_SYS_ENV_SP7021_EVB=y
CONFIG_SRCADDR_KERNEL=0x78600000
CONFIG_SRCADDR_DTB=0x78020000
CONFIG_SYS_TEXT_BASE=0x20100000
CONFIG_DEFAULT_DEVICE_TREE="i143-ev"
CONFIG_DEBUG_UART=y
CONFIG_BOOTDELAY=0
CONFIG_CMD_BOOTZ=y
CONFIG_CMD_MD5SUM=y
CONFIG_MD5SUM_VERIFY=y
CONFIG_CMD_MEMINFO=y
CONFIG_CMD_PART=y
CONFIG_CMD_USB=n
CONFIG_CMD_EXT2=y
CONFIG_CMD_FAT=y
CONFIG_OF_SEPARATE=y
CONFIG_DEVRES=y
CONFIG_DEBUG_DEVRES=y
# CONFIG_MMC is not set
CONFIG_DM_MMC=n
CONFIG_DEBUG_UART_BASE=0x0
CONFIG_DEBUG_UART_CLOCK=90000
CONFIG_DEBUG_UART_SHIFT=2
CONFIG_SUNPLUS_SERIAL=y
CONFIG_USB=n
CONFIG_REGEX=y
CONFIG_USB_STORAGE=y
CONFIG_OTP_SUNPLUS=y
CONFIG_PINCTRL=y
CONFIG_PINCTRL_FULL=y
CONFIG_PINCTRL_GENERIC=y
CONFIG_PINMUX=y
CONFIG_PINCTRL_SUNPLUS_I143=y
CONFIG_DM_ETH=n
CONFIG_NETDEVICES=y
CONFIG_PHY_GIGE=y
CONFIG_SUNPLUS_L2SW=y
CONFIG_NET=n
CONFIG_LIB_RAND=y
CONFIG_NET_RANDOM_ETHADDR=y
CONFIG_CMD_NET=y
CONFIG_CMD_TFTPPUT=y
CONFIG_CMD_DHCP=y
CONFIG_CMD_PING=y
CONFIG_CMD_UNZIP=y
# CONFIG_CMD_TPS_MD is not set
# CONFIG_CMD_TPS_UPD is not set
# CONFIG_TPS_UPD_MMC is not set
# CONFIG_TPS_UPD_NAND is not set
# CONFIG_TPS_UPD_TFTP is not set
# CONFIG_TPS_UPD_USB is not set
# CONFIG_TFABOOT is not set
# CONFIG_DM_VIDEO is not set

