CONFIG_RISCV=y
CONFIG_SYS_TEXT_BASE=0xA0100040
CONFIG_SMP=y
CONFIG_TARGET_PENTAGRAM_I143_P=y
CONFIG_ARCH_RV64I=y
CONFIG_CMODEL_MEDANY=y
CONFIG_RISCV_SMODE=y
CONFIG_DISTRO_DEFAULTS=y
CONFIG_NR_DRAM_BANKS=1
CONFIG_FIT=y
CONFIG_BOOTDELAY=0
# CONFIG_USE_BOOTCOMMAND is not set
CONFIG_BOARD_LATE_INIT=y
CONFIG_MISC_INIT_R=y
CONFIG_DISPLAY_CPUINFO=y
CONFIG_DISPLAY_BOARDINFO=y
CONFIG_CMD_MD5SUM=y
CONFIG_MD5SUM_VERIFY=y
CONFIG_CMD_MEMINFO=y
CONFIG_CMD_USB=y
CONFIG_CMD_UUID=y
# CONFIG_ISO_PARTITION is not set
CONFIG_DEFAULT_DEVICE_TREE="i143-ev"
CONFIG_NET=y
# CONFIG_PHY_MSCC is not set
CONFIG_SUNPLUS_GL2SW=y
CONFIG_RGMII=y
# CONFIG_CLK is not set
# CONFIG_DM_GPIO is not set
# CONFIG_MACB is not set
CONFIG_PINCTRL=y
CONFIG_PINCTRL_FULL=y
CONFIG_PINCTRL_GENERIC=y
CONFIG_PINMUX=y
CONFIG_PINCTRL_SUNPLUS_I143=y
# CONFIG_SIFIVE_SERIAL is not set
CONFIG_SUNPLUS_SERIAL=y
CONFIG_OTP_SUNPLUS=y
# CONFIG_TIMER is not set
CONFIG_USB=y
CONFIG_SP_TIMER=y
CONFIG_OF_SEPARATE=y
CONFIG_CMD_UNZIP=y
CONFIG_USB_XHCI_HCD=y
CONFIG_USB_XHCI_SPDWC3=y
# CONFIG_DM_VIDEO is not set