CONFIG_RISCV=y
CONFIG_TARGET_PENTAGRAM_I143_P=y
CONFIG_SRCADDR_KERNEL=0x78200000
CONFIG_SRCADDR_DTB=0x78020000
CONFIG_RISCV_SMODE=y
CONFIG_ARCH_RV64I=y
CONFIG_DISTRO_DEFAULTS=y
CONFIG_NR_DRAM_BANKS=1
CONFIG_FIT=y
CONFIG_CMODEL_MEDANY=y
# CONFIG_USE_BOOTARGS is not set
# CONFIG_USE_BOOTCOMMAND is not set
# CONFIG_USE_PREBOOT is not set
CONFIG_DISPLAY_CPUINFO=y
CONFIG_DISPLAY_BOARDINFO=y
#CONFIG_USE_BOOTCOMMAND is not set
# CONFIG_MACB is not set
# CONFIG_CLK is not set
# CONFIG_SIFIVE_SERIAL is not set
# CONFIG_BITBANGMII is not set
# CONFIG_TIMER is not set
CONFIG_DEFAULT_DEVICE_TREE="sunplus_i143"
CONFIG_SYS_TEXT_BASE=0xA0100000
CONFIG_OTP_SUNPLUS=y
CONFIG_PINCTRL=y
CONFIG_PINCTRL_FULL=y
CONFIG_PINCTRL_GENERIC=y
CONFIG_PINMUX=y
CONFIG_PINCTRL_SUNPLUS_I143=y
CONFIG_SP_TIMER=y
CONFIG_SMP=y
CONFIG_CMD_BOOTZ=y
CONFIG_CMD_MD5SUM=y
CONFIG_MD5SUM_VERIFY=y
CONFIG_CMD_MEMINFO=y
CONFIG_CMD_GPT=y
CONFIG_CMD_GPT_RENAME=y
CONFIG_CMD_MMC=y
CONFIG_CMD_PART=y
CONFIG_CMD_USB=y
CONFIG_CMD_UUID=y
CONFIG_CMD_EXT2=y
CONFIG_CMD_FAT=y
CONFIG_CMD_EXT4=y
CONFIG_CMD_FS_GENERIC=y
CONFIG_CMD_PXE=y
#CONFIG_OF_SEPARATE=y
CONFIG_ENV_IS_IN_MMC=y
CONFIG_DEVRES=y
CONFIG_DEBUG_DEVRES=y
CONFIG_DM_MMC=y
CONFIG_MMC=y
CONFIG_MMC_SP_EMMC=y
CONFIG_MMC_SP_SD=y
CONFIG_DEBUG_UART_BASE=0x0
CONFIG_DEBUG_UART_CLOCK=90000
CONFIG_DEBUG_UART_SHIFT=2
CONFIG_SUNPLUS_SERIAL=y
CONFIG_USB=y
CONFIG_USB_STORAGE=y
CONFIG_REGEX=y
CONFIG_BOOTDELAY=0
# CONFIG_NET is not set
CONFIG_OF_SEPARATE=y
CONFIG_CMD_UNZIP=y
# CONFIG_DM_GPIO is not set
# CONFIG_DM_VIDEO is not set
# CONFIG_BOARD_LATE_INIT is not set

