# SPDX-License-Identifier: GPL-2.0+
#
# Copyright (C) 2020 Sunplus - All Rights Reserved
#
# Authors: Hammer Hsieh <hammer.hsieh@sunplus.com>
#

menuconfig VIDEO_SP7021
	bool "Enable SP7021 video support"
	depends on DM_VIDEO
	# default y
	help
	  SP7021 supports many video output options including RGB and
	  HDMI. This option enables these supports which can be used on
	  devices which have RGB TFT or HDMI display connected.

config EN_SP7021_TTL
	bool "Enable SP7021 TTL out"
	depends on DM_VIDEO && VIDEO_SP7021
	default n
	help
		Enable TTL output , HDMITX will be turn off.

config VIDEO_SP7021_MAX_XRES
	int "Maximum horizontal resolution (for memory allocation purposes)"
	depends on VIDEO_SP7021
	default 720
	help
	  The maximum horizontal resolution to support for the framebuffer.
	  This configuration is used for reserving/allocating memory for the
	  framebuffer during device-model binding/probing.

config VIDEO_SP7021_MAX_YRES
	int "Maximum vertical resolution (for memory allocation purposes)"
	depends on VIDEO_SP7021
	default 480
	help
	  The maximum vertical resolution to support for the framebuffer.
	  This configuration is used for reserving/allocating memory for the
	  framebuffer during device-model binding/probing.

config VIDEO_SP7021_MAX_BPP
	int "Maximum bits per pixel (for memory allocation purposes)"
	depends on VIDEO_SP7021
	default 8
	help
	  The maximum bits per pixel to support for the framebuffer.
	  This configuration is used for reserving/allocating memory for the
	  framebuffer during device-model binding/probing.

config VIDEO_SP7021_ROTATE
	int "Console Text Rotate Angle Setting"
	depends on VIDEO_SP7021
	default 0
	help
	  Rotate angle 0: 0 degree / 1: 90 degree / 2: 180 degree / 3: 270 degree.

config BMP_8BPP_UPDATE_CMAP
	bool "Enable SP7021 Update Palette for 8BPP"
	depends on DM_VIDEO && VIDEO_SP7021
	default y
	help
		Allow 8BPP format update palette.

config DM_VIDEO_SP7021_LOGO
	bool "Enable SP7021 video LOGO support"
	depends on DM_VIDEO && VIDEO_SP7021
	default y
	help
		Logo display support

config DM_VIDEO_SP7021_LOGO_ALIGN
	bool "Align SP7021 video LOGO to center"
	depends on DM_VIDEO && VIDEO_SP7021
	default n
	help
		Logo display support , align to center

config VIDEO_BMP_LOGO_MANUAL
	bool "LOGO display by manual"
	depends on DM_VIDEO && VIDEO_SP7021
	default n
	help
		Logo display by manual
